/* Write your CSS here */
.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  width: 48%;
  border-radius: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .match-card {
    width: 30%;
    padding: 24px;
    margin-bottom: 32px;
  }
}

.logo {
  max-width: 60px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 150px;
    height: 150px;
  }
}

.team-name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .team-name {
    font-size: 24px;
  }
}

.para {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .para {
    font-size: 16px;
  }
}

.heading-won {
  font-family: 'Bree Serif';
  font-size: 14px;
  color: #18ed66;
}

@media screen and (min-width: 768px) {
  .heading-won {
    font-size: 24px;
  }
}

.heading-lost {
  font-family: 'Bree Serif';
  font-size: 14px;
  color: #e31a1a;
}

@media screen and (min-width: 768px) {
  .heading-lost {
    font-size: 24px;
  }
}
