/* Write your CSS here */

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.teams-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .teams-list-container {
    width: 90%;
    max-width: 1110px;
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}

.ipl-dashboard-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 36px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-dashboard-heading {
    font-size: 60px;
    margin-left: 20px;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
